In [1]:
import pandas as pd
import numpy as np

In [2]:
# Get app data
df_clean = pd.read_csv("https://s3-eu-west-1.amazonaws.com/ai-hack-q3-orion/datasets/AI_Hackathon_Clean_Data.csv")

In [3]:
df_clean.head()

,Attendance_Percent,Course ID,Age,Gender,Income,Education,Promise Zone?,Primary Interest In Course,Hours Coded,How Many Hours A Week Can You Commit To Class,Hacker Rank Score,Completed?
0,0.846154,77,45,Male,"$40,000 - $50,000",Master's,0,Interested in seeking an apprenticeship/job in...,6-50,21-40,9.333333,0
1,0.142857,111,48,Female,"$40,000 - $50,000",High school or GED,0,Interested in seeking an apprenticeship/job in...,0-5,11-20,8.000000,0
2,0.269231,137,44,Male,"Less than $5,000",Bachelor's,0,Interested in seeking an apprenticeship/job in...,6-50,40+,9.333333,1
3,0.076923,125,30,Female,"$30,000 - $40,000",Associate's,1,Interested in seeking an apprenticeship/job in...,6-50,21-40,6.000000,0
4,0.730769,137,31,Male,"$40,000 - $50,000",Bachelor's,0,Interested in seeking an apprenticeship/job in...,0-5,21-40,4.666667,1

In [5]:
pd.Series(df_clean)

ValueError: Wrong number of items passed 12, placement implies 1530

In [4]:
df_clean = df_clean.dropna(axis=0)
pd.get_dummies(df_clean,prefix=['Course ID', 'Gender', 'Income', 'Education', 'Primary Interest In Course', 'Hours Coded', 'How Many Hours A Week Can You Commit To Class'])

ValueError: Length of 'prefix' (7) did not match the length of the columns being encoded (6).